<!-- <form action="/create_article" method="post">
  <input type="text" name="title" placeholder="Enter title">
  <br>
  <textarea name="body" rows="8" cols="80"placeholder="Enter body"></textarea>
  <br>
  <input type="submit" value="Create Article">
</form> -->
<%= render partial: 'form' %>
